<div style="display: none;" class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
    <div class="context">
      <span class="title">{{page.component.title}}</span>
      <span class="version">{{page.componentVersion.displayVersion}}</span>
    </div>
  {{/if}}
</div>
